*{
    box-sizing: border-box;
    margin: 0;
}

/*colors*/

:root{
    --bg-color: #fff;
    --text-box-color: #fff;
    --button-color: #626e60;
    --footer-color: #3c3c3c4d;
    --text-box-color2: /*#945d60*/ #c4c4c4;
    
}

body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 20vh 5vh auto auto;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
    max-width: 1200px;
    margin: auto;
    background-color: var(--bg-color);
    background-image: url(../img/lp-banner-img.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    height: 25vh;
}

.main-img{
    width: 100%;
}

.history-img{
    width: 100%;
    padding: 5%;
}

.logo{
    grid-area: header;
    text-align: center;
    padding: 3%;
}

/* dropdown menu */

.button{
    display: none;
}

.dropdown{
    grid-area: nav;
}

.dropdown-content{
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    background-color: grey;
}

.dropdown-content li{
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
    list-style: none;
    text-align: center;
}

.dropdown-content li a{
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}

.active-link{
    background-color: #945d60;
}

.dropdown-content li:last-child{
    border-right: none;
}

/* join button*/

.join-btn{
    display: none;
    grid-area: join-btn;
    background-color: var(--button-color);
    font-size: 16px;
    border: none;
}

.join-btn a{
    display: block;
    text-decoration: none;
    color: #000;
}

/* layout */

.main-text{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
        "text text"
        "main-img main-img"
        "block-left block-right"
        "header2 header2"
        "main-left main-right"
        "main-left empty";
}

.textblock, #lo-kamppa-img{
    grid-area: text;
}

.textblock2, #lo-osastot{
    grid-area: header2;
}

.main-img{
    grid-area: main-img;
}

.main-text h3{
    grid-area: header2;
}

#lo-calendar{
    grid-area: main-left;
}

#lo-times{
    grid-area: main-right;
}

.join-info{
    grid-area: header2;
}

#jn{
    grid-area: block-left;
}

#tmh{
    grid-area:  block-right;
}

#lo-adr{
    grid-area: empty;
}

/* */

h2{
    text-align: center;
    padding: 6%;
}

.basic-text{
    padding: 2% 5%;
    font-family: 'Roboto Slab', serif;
}

h3{
    text-align: center;
    padding: 5% 5% 2% 5%;
    font-size: 20px;
}

h4{
    padding: 2% 5%;
}

h5{
    font-size: 16px;
}

/* info-list */

.info-list{
    padding-bottom: 3%;
}

.info-list ul{
    list-style: none;
    padding-left: 7%;
}

.info-list h5{
    padding: 1% 0;
}

/* calendar */

.calendar{
    width: 90%;
    margin: 0 auto;
}

.calendar h4{
    margin-left: 8%;
    padding-top: 4%;
    padding-bottom: 1%;
}

.calendar ul{
    background-color: var(--text-box-color);
    margin: 0 1%;
    padding: 2% 15%;
    list-style: none;
}

.calendar li{
    padding: 1% 0;
}

/* text block */

.times{
    background-color: var(--text-box-color2);
    border: #000 1px solid;
    margin: 2%;
    padding: 2%;
    padding-bottom: 5%;
    border-radius: 1%;
}

.times h4{
    text-align: center;
    padding-top: 4%;
    padding-bottom: 1%;
}

.times p{
    text-align: center;
}

/* footer */

.footer{
    grid-area: footer;
    text-align: center;
    border-top: 1px solid #3c3c3c;
    background-color: var(--footer-color);
}

.social{
    padding: 2%;
}

.social a{
    color: #000;
}

.social i{
    padding: 0 3%;
}