*{
    box-sizing: border-box;
    margin: 0;
}
.wrapper{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 120px 5% auto 80px;
    grid-template-areas: 
        "header header header"
        "button empty join-btn"
        "main main main"
        "footer footer footer";
}

.logo{
    grid-area: header;
    text-align: center;
}

.join-btn{
    grid-area: join-btn;
    text-decoration: none;
    background-color: rgb(41, 68, 42);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.main-text{
    grid-area: main;
}

h2{
    text-align: center;
    padding: 6%;
}

.basic-text{
    padding: 0% 5%;
}

h3{
    text-align: center;
    padding: 3%;
}

h4{
    padding: 2%;
}

.footer{
    grid-area: footer;
}

/* dropdown menu */

.button{
    background-color: rgb(41, 68, 42);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    grid-area: button;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    width: 100%;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}